@font-face {
  font-family: 'Lobster';
  src: local('Lobster'), url('fonts/lobster.woff2') format('woff2'), url('fonts/lobster.woff') format('woff'), url('fonts/lobster.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('fonts/robotothin.woff2') format('woff2'), url('fonts/robotothin.woff') format('woff'), url('fonts/robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('fonts/robotothinitalic.woff2') format('woff2'), url('fonts/robotothinitalic.woff') format('woff'), url('fonts/robotothinitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('fonts/robotolight.woff2') format('woff2'), url('fonts/robotolight.woff') format('woff'), url('fonts/robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('fonts/robotolightitalic.woff2') format('woff2'), url('fonts/robotolightitalic.woff') format('woff'), url('fonts/robotolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('fonts/roboto.woff2') format('woff2'), url('fonts/roboto.woff') format('woff'), url('fonts/roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), local('Roboto-Italic'), url('fonts/robotoitalic.woff2') format('woff2'), url('fonts/robotoitalic.woff') format('woff'), url('fonts/robotoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('fonts/robotomedium.woff2') format('woff2'), url('fonts/robotomedium.woff') format('woff'), url('fonts/robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('fonts/robotomediumitalic.woff2') format('woff2'), url('fonts/robotomediumitalic.woff') format('woff'), url('fonts/robotomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('fonts/robotobold.woff2') format('woff2'), url('fonts/robotobold.woff') format('woff'), url('fonts/robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('fonts/robotobolditalic.woff2') format('woff2'), url('fonts/robotobolditalic.woff') format('woff'), url('fonts/robotobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'), url('fonts/robotoblack.woff2') format('woff2'), url('fonts/robotoblack.woff') format('woff'), url('fonts/robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('fonts/robotoblackitalic.woff2') format('woff2'), url('fonts/robotoblackitalic.woff') format('woff'), url('fonts/robotoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
body {
  margin: 0;
  width: 100%;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  overflow-x: hidden;
  line-height: 25px;
  color: #000;
  background-color: #fff;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 50px;
}
h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 50px;
}
input {
  padding: 5px;
  width: 200px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0;
  -webkit-appearance: none;
}
.space {
  display: block;
  width: 100%;
  height: 100px;
}
.btn {
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #fff;
  color: #fff;
}
.btn:hover,
.btn:focus {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  margin: 0;
}
.header {
  width: 100%;
  height: 700px;
  background-image: url('../img/main.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.header-promo {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.header-promo__title {
  margin-bottom: 50px;
}
@media (max-width: 550px) {
  .header-promo__title {
    font-size: 35px;
    line-height: 50px;
  }
}
.header-promo__btn {
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
}
.header-promo__btn:hover,
.header-promo__btn:focus {
  background-color: #ffd600;
  border-color: #ffd600;
  color: #000;
}
.menu {
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 102;
  overflow: hidden;
}
@media (max-width: 750px) {
  .menu--open {
    overflow: visible;
  }
}
.menu__logo {
  padding: 0 50px;
}
.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  height: 100%;
  font-size: 18px;
}
@media (max-width: 750px) {
  .menu__list {
    top: 50px;
    width: 100%;
  }
}
.menu__element {
  transition: all 0.3s ease-in-out;
  height: 100%;
  margin-right: 100px;
  display: inline-block;
}
@media (max-width: 950px) {
  .menu__element {
    margin-right: 50px;
  }
}
@media (max-width: 750px) {
  .menu__element {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
}
.menu__link {
  position: relative;
  color: #ffd600;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  line-height: 50px;
  box-sizing: border-box;
}
.menu__link:after {
  transition: all 0.3s ease-in-out;
  content: '';
  background-color: #ffd600;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
}
.menu__link--active,
.menu__link--hover {
  text-decoration: none;
  outline: none;
}
.menu__link--active:after,
.menu__link--hover:after {
  content: '';
  background-color: #ffd600;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
.logo {
  position: absolute;
  color: #fff;
  font-family: Lobster, Georgia, serif;
  height: 100%;
  font-size: 26px;
  line-height: 50px;
}
.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: transparent;
}
@media (max-width: 750px) {
  .header__hamburger {
    display: block;
    right: 10px;
    top: 7.5px;
    width: 40px;
    height: 35px;
  }
}
.hamburger__line {
  transition: all 0.5s ease-in-out;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  height: 5px;
  width: 100%;
  border-radius: 3px;
}
.hamburger__line:nth-child(1) {
  top: 0;
}
.hamburger__line:nth-child(2) {
  top: 15px;
}
.hamburger__line:nth-child(3) {
  top: 30px;
}
.hamburger__line--open:nth-child(1) {
  top: 15px;
  transform: rotate(45deg);
}
.hamburger__line--open:nth-child(2) {
  transform: rotateY(-90deg);
}
.hamburger__line--open:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
}
.app-menu {
  transition: all 0.5s linear;
  width: 500px;
  background-color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translate3d(-500px, 0, 0);
  z-index: 101;
  color: #fff;
  height: 100%;
}
@media (max-width: 550px) {
  .app-menu {
    width: 100%;
    transform: translate3d(-100%, 0, 0);
  }
}
.app-menu--open {
  transform: translate3d(0, 0, 0);
}
.blind {
  transition: all 0.5s linear;
  width: 30px;
  height: 50px;
  cursor: pointer;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #000;
  transform: translate3d(30px, 0, 0);
}
.app-menu__blind {
  position: absolute;
  bottom: 50px;
  right: 0;
}
@media (max-width: 750px) {
  .app-menu__blind {
    bottom: 30px;
  }
}
.blind__line1,
.blind__line2 {
  background-color: #ffd600;
  height: 2px;
  width: 20px;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
}
.blind__line1 {
  transform: translate3d(3px, -5px, 0) rotate(30deg);
}
.blind__line2 {
  transform: translate3d(3px, 5px, 0) rotate(-30deg);
}
.blind--open {
  transition: all 0.5s linear;
  background-color: #ffd600;
  transform: translate3d(-30px, 0, 0);
  border-radius: 50px;
  width: 50px;
}
.blind__line1--open,
.blind__line2--open {
  background-color: #000;
  width: 30px;
}
.blind__line1--open {
  transform: translate3d(10px, 0, 0) rotate(45deg);
}
.blind__line2--open {
  transform: translate3d(10px, 0, 0) rotate(-45deg);
}
.blind__notification-popup {
  bottom: 40px;
  left: 60px;
}
@media (max-width: 750px) {
  .blind__notification-popup {
    bottom: 25px;
  }
}
.calculator__label {
  margin-bottom: 10px;
}
.calculator__input {
  border: 2px solid #fff;
  margin-bottom: 20px;
  width: 100%;
}
.calculator__button {
  border: 2px solid #ffd600;
  background-color: #ffd600;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
}
.app-menu__calculator {
  margin: 50px 20px 20px 50px;
}
@media (max-width: 750px) {
  .app-menu__calculator {
    margin: 50px 20px 20px 50px;
  }
}
.calculator__title {
  font-size: 24px;
  padding: 20px 0;
  margin-top: 50px;
}
@media (max-width: 550px) {
  .calculator__title {
    display: none;
  }
}
.calculator__text {
  line-height: 25px;
  padding: 20px 0;
}
@media (max-width: 550px) {
  .calculator__primary {
    display: none;
  }
}
.calculator__cost {
  font-size: 32px;
  line-height: 35px;
}
.notification-popup {
  transition: all 0.5s linear;
  background-color: #ffd600;
  color: #000;
  font-size: 16px;
  position: fixed;
  padding: 20px 15px;
  border-radius: 5px;
  transform: translate3d(-500px, 0, 0);
  z-index: 100;
  cursor: pointer;
}
.notification-popup--open {
  transform: translate3d(0, 0, 0);
}
.notification-popup__triangle {
  position: absolute;
}
.notification-popup__triangle--arrow-left {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #ffd600;
  left: -15px;
  top: 12px;
}
.notification-popup__triangle--arrow-left-bottom {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffd600;
  left: 10px;
  top: 60px;
}
.ajax-alert-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.ajax-alert-popup--open {
  display: flex;
}
.window {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 15px 25px;
  width: 400px;
  height: 200px;
  margin: auto;
  text-align: center;
}
.window__button--close {
  width: 30%;
  max-width: 300px;
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  border-color: #000;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.window__button--close:hover,
.window__button--close:focus {
  background-color: #000;
  color: #fff;
}
.window--done {
  background-color: #ffd600;
}
.window--error {
  background-color: #ffd600;
}
.window__text {
  font-size: 18px;
}
.window__text--done {
  display: none;
}
.window__text--error {
  display: none;
}
.properties {
  width: 100%;
  text-align: center;
}
.properties__title {
  margin-bottom: 50px;
}
.icons {
  display: flex;
}
@media (max-width: 550px) {
  .icons {
    flex-direction: column;
  }
}
.icons__icon {
  margin-bottom: 50px;
}
.icon {
  width: 33%;
}
@media (max-width: 550px) {
  .icon {
    width: 100%;
  }
}
.icon img {
  padding: 15px 20px;
  border: 2px solid #e74e3e;
  border-radius: 3px;
  margin-bottom: 30px;
  width: 50px;
}
.icon hr {
  text-align: center;
  width: 50%;
  border-width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: #e74e3e;
  margin: 20px auto;
}
.icon__title {
  font-size: 20px;
  font-weight: bold;
}
.icon__text {
  width: 100%;
}
.descriptions {
  display: flex;
  justify-content: space-around;
  background-image: url("../img/services.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.descriptions__article {
  box-sizing: border-box;
  border: 5px solid #ffd600;
  border-right-style: dashed;
  transform: rotate(-3deg);
  padding: 15px 20px;
  width: 100%;
  max-width: 1000px;
  text-align: justify;
}
@media (max-width: 550px) {
  .descriptions__article {
    transform: rotate(0);
  }
}
.descriptions__text {
  text-align: justify;
  line-height: 25px;
}
.descriptions__hr {
  text-align: center;
  width: 20%;
  border-width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: #ffd600;
  margin: 20px auto;
}
.communication {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 550px) {
  .communication {
    flex-direction: column;
    align-items: center;
  }
}
.contact {
  width: 50%;
  max-width: 300px;
}
@media (max-width: 550px) {
  .contact {
    width: 100%;
  }
}
.contact__element {
  font-size: 20px;
  padding: 15px 20px;
}
.contact__subtitle {
  display: block;
  color: #e74e3e;
  font-weight: bold;
  text-transform: uppercase;
}
.contact__link {
  color: #0097ba;
  display: inline-block;
  text-decoration: none;
  padding-top: 5px;
}
.contact__link:hover,
.contact__link:focus {
  text-decoration: underline;
}
.order {
  width: 50%;
  max-width: 500px;
  text-align: center;
}
@media (max-width: 550px) {
  .order {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .communication__order {
    margin-top: 50px;
  }
}
.form__input,
.form__textarea {
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #eee;
}
.form__input:focus,
.form__textarea:focus {
  outline: none;
}
.form__input:valid,
.form__textarea:valid {
  border-color: #eee;
}
.form__submit {
  transition: all 0.5s linear;
  background-color: #e74e3e;
  border: 2px solid #e74e3e;
  color: #fff;
  padding: 15px;
  box-shadow: 3px 5px 10px #eee;
  font-weight: bold;
  cursor: pointer;
}
.form__submit:hover,
.form__submit:focus {
  box-shadow: 3px 5px 10px #c8c8c8;
}
.form__textarea {
  height: 70px;
  resize: none;
  text-indent: 5px;
}
.footer {
  height: 100px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 35px;
  color: #fff;
  text-align: center;
}
.footer__copyright {
  font-size: 14px;
}
.footer__company {
  color: #fff;
  font-size: 12px;
}
.footer__link {
  color: #0097ba;
  text-decoration: none;
}
.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}
